@import './scss/variables.scss';

.App {
  // padding: 0 10rem;
  // max-width: 1920px;
  // width: 100%;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

main {
  // border: 2px solid $color-primary;
  // padding: 0 20rem;
  display: grid;
  grid-template-columns: 1fr minmax(10px, 120rem) 1fr;

  & > * {
    grid-column: 2/3;
    padding-left: 5rem;
    border-left: 0.5rem solid $color-primary;
  }
}

section {
  padding-bottom: 10rem;
}

// HEADER
.section-title {
  font-size: 4.5rem;
  margin-bottom: 5rem;
  position: relative;
  text-align: left;
  // display: inline-block;
  width: 15rem;

  &::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    border: 0.5rem solid $color-primary;
    width: 4.5rem;
    height: 4.5rem;
    left: -50%;
    top: 0;
  }
}

.highlight {
  color: $color-primary;
  font-weight: 700;
}

// BUTTON
.cta {
  padding: 1rem 2.5rem;
  border-radius: 0.3rem;
  background-color: $color-primary;
  transition: background-color 0.2s;
  display: block;

  &:link,
  &:visited {
    color: $color-white;
    text-decoration: none;
  }

  &:hover {
    background-color: $color-primary-dark;
  }

  &:focus {
    outline: none;
  }

  &:active {
    transform: scale(0.9);
  }
}