@import "./scss/variables.scss";

.App {
  overflow: hidden;
  position: relative;
  margin: 0 auto;

  font-size: 1.6rem;
  background-color: $color-white;
  color: $color-black;
  transition: background-color 0.2s, color 0.2s;

  @media only screen and (max-width: $bp-lg) {
    padding: 0 0rem;
  }
  @media only screen and (max-width: $bp-sm) {
    padding: 0 0rem;
  }
}

main {
  display: grid;
  grid-template-columns: 1fr minmax(auto, $bp-lg) 1fr;
  position: relative;

  & > * {
    grid-column: 2/3;
  }
}

section {
  padding-bottom: 25rem;
}

// HEADER
.section-title {
  font-size: 3.5rem;
  margin-bottom: 5rem;
  position: relative;
  text-align: left;
  width: 100%;

  @media only screen and (max-width: $bp-lg) {
    font-size: 3.3rem;
  }
  @media only screen and (max-width: $bp-sm) {
    text-align: center;
  }

  &::before,
  &::after {
    position: absolute;
    pointer-events: none;
  }

  &::before {
    content: "";
    width: 30rem;
    height: 20rem;
    background: no-repeat center url(./img/text-bg.png);
    background-size: contain;
    left: -3rem;
    top: -130%;
    opacity: 0.4;

    @media only screen and (max-width: $bp-sm) {
      width: 100%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &::after {
    content: attr(data-title);
    top: 0;
    right: 0;
    opacity: 0.04;
    font-size: 15rem;
    font-weight: 700;
    color: $color-primary;
    line-height: 1;

    @media only screen and (max-width: $bp-lg) {
      font-size: 13rem;
      letter-spacing: 0;
    }
    @media only screen and (max-width: $bp-sm) {
      display: none;
    }
  }
}

// BUTTON
.cta {
  padding: 1rem 2.5rem;
  border-radius: 0.3rem;
  background-color: $color-primary;
  transition: box-shadow 0.25s;
  display: block;
  position: relative;
  overflow: hidden;

  &:link,
  &:visited {
    color: $color-white;
    text-decoration: none;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: $color-secondary;
    transform: scaleX(0);
    transition: transform 0.5s cubic-bezier(1, 0, 0, 1) 0.2s;
  }

  &:hover {
    box-shadow: inset 0 0 0 2rem $color-primary-dark;

    &::before {
      transform: scaleX(0.8);
    }
  }

  &:focus {
    outline: none;
  }

  &:active {
    transform: scale(0.9);
  }
}

::selection {
  background-color: rgba($color-primary-dark, 0.5);
  color: $color-white;
}
