@import "./scss/variables.scss";
// @include font("Comfortaa", "../fonts/comfortaa");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px
  box-sizing: border-box;

  @media only screen and (max-width: $bp-md) {
    font-size: 57%;
  }
  @media only screen and (max-width: $bp-sm) {
    font-size: 50%;
  }
}

body {
  font-family: $font-default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 10px;
  height: 1px;
}

::-webkit-scrollbar-track {
  background: #2f2f39;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    180deg,
    rgba(237, 106, 90, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}
