@import "./scss/variables.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px
  box-sizing: border-box;

  @media only screen and (max-width: $bp-md) {
    font-size: 57%;
  }
  @media only screen and (max-width: $bp-sm) {
    font-size: 50%;
  }
}

body {
  font-family: $font-default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // font-size: 1.6rem;
  // background-color: $color-white;
  // color: $color-black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
