@import "./variables.scss";

.Contact {
  padding-bottom: 46rem;
  position: relative;

  @media only screen and (max-width: $bp-lg) {
    padding-bottom: 34rem;
  }

  @media only screen and (max-width: $bp-md) {
    padding-bottom: 41rem;
  }

  &__container {
    @include flexCenter;
    flex-direction: column;
  }

  &__text {
    margin-bottom: 2rem;
    position: relative;
    max-width: 50rem;
    text-align: center;

    &::before {
      content: "";
      position: absolute;
      width: 2.5rem;
      height: 2.5rem;
      top: -2.5rem;
      left: 50%;
      transform: translateX(-50%);
      background: no-repeat center url(../img/svg/emoji.svg), $color-secondary;
      border-radius: 50%;
      animation: roll 5s ease-in-out infinite alternate;
    }
  }

  &__list {
    @include flexCenter;
    flex-wrap: wrap;
  }

  &__item {
    list-style: none;
    text-decoration: none;
    margin: auto 1.5rem;

    @media only screen and (max-width: $bp-sm) {
      padding-top: 2rem;
    }
  }

  &__link {
    @include flexCenter;
    flex-direction: column;

    &:link,
    &:visited {
      font-size: 1.1rem;
      color: inherit;
      text-decoration: none;
      position: relative;
      transition: color 0.2s ease;
    }

    &:hover {
      color: $color-primary-dark;

      i {
        animation: wiggle 0.2s ease infinite alternate;
      }

      span {
        &::after {
          transform: scaleX(1);
        }
      }
    }

    i {
      display: block;
      font-size: 5rem;
      padding-bottom: 0.5rem;
    }

    span {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: currentColor;
        transform: scaleX(0);
        transition: transform 0.2s ease-in-out 0.2s;
      }
    }
  }

  .contact-bg {
    position: absolute;
    // bottom: -50%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);

    @media only screen and (max-width: $bp-md) {
      transform: translateX(-50%) scale(0.7);
    }
  }
}

@keyframes roll {
  0% {
    transform: translateX(-200%) rotate(-360deg);
  }
  50% {
    transform: translateX(0) rotate(0);
  }
  100% {
    transform: translateX(200%) rotate(360deg);
  }
}

@keyframes wiggle {
  from {
    transform: translateY(-15%) rotate(15deg);
  }
  to {
    transform: translateY(-15%) rotate(-15deg);
  }
}
