@import "./variables.scss";

.Footer {
  background-color: $color-black;
  color: rgba($color-white, 0.8);
  text-align: center;
  width: 100vw;
  padding: 5rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  user-select: none;

  &__copyright {
    letter-spacing: 2px;
    span {
      border-left: 1px solid rgba($color-white, 0.5);
      padding-left: 1rem;
      margin-left: 0.5rem;
    }
  }

  &__message {
    color: rgba($color-white, 0.5);
    font-weight: 300;
    font-size: 1.2rem;
    margin-top: 2rem;
  }

  &__bold {
    font-size: 15px;
    color: #ed6a5a;
    margin: auto 5px;
  }
}
