@import "./variables.scss";

.Header {
  padding: 10rem;
  height: 100vh;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  @include flexCenter;
  flex-direction: column;

  @media only screen and (max-width: $bp-md) {
    align-items: flex-start;
  }

  @media only screen and (max-width: $bp-sm) {
    align-items: center;
    text-align: center;
  }

  // color: $color-black;
  // background-color: #ff7700;
  // background-image: url("../img/svg/background.svg");
  background-attachment: fixed;
  background-size: cover;
  background-position: top -3rem right;

  &__heading {
    font-size: 8rem;
    font-weight: 700;

    @media only screen and (max-width: $bp-lg) {
      font-size: 7.1rem;
    }

    @media only screen and (max-width: $bp-md) {
      font-size: 6rem;
    }

    @media only screen and (max-width: $bp-xs) {
      font-size: 4.5rem;
    }
  }

  &__sub-heading {
    font-size: 2.73rem;
    font-weight: 100;
    opacity: 0.75;

    @media only screen and (max-width: $bp-lg) {
      font-size: 2.43rem;
    }

    @media only screen and (max-width: $bp-md) {
      font-size: 2.23rem;
    }

    @media only screen and (max-width: $bp-xs) {
      font-size: 2rem;
    }
  }

  .cta {
    margin-top: 3rem;
  }
}
