@import './variables.scss';

.Navbar {
  background-color: $color-black;
  color: $color-white;
  padding: 1rem 10rem;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  // max-width: 1920px;
  width: 100%;
  @include flexCenter;
  justify-content: space-between;
  z-index: 100;

  &__logo-container {
    display: flex;
    align-items: center;
    
    // h3 {
    //   padding-top: 1rem;
    //   margin-left: 1rem;
    // }
  }

  &__logo {
    height: 3rem;
    width: 10rem;
  }

  &__list {
    list-style: none;
    margin-left: auto;
    padding-top: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item {
    margin: auto 3rem;
  }
  
  &__link {
    &:link,
    &:visited {
      color: currentColor;
      text-decoration: none;
      transition: color 0.2s ease-in;
    }

    &::after {
      content: '';
      display: block;
      border-bottom: 1px solid $color-secondary;
      transform: scaleX(0);
      transition: transform 0.5s cubic-bezier(1, 0, 0, 1) 0.2s;
    }

    ul &:hover {
      color: $color-primary;

      &::after {
        transform: scaleX(1);
      }
    }
  }
}

.active-link {
  color: $color-primary;
}

.btn-dark-mode {
  margin-left: 3rem;
}