@import "./variables.scss";

.Navbar {
  background-color: $color-black;
  color: $color-white;
  padding: 1.5rem 10rem;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  box-shadow: $box-shadow-default;

  @include flexCenter;
  justify-content: space-between;
  z-index: 100;

  @media only screen and (max-width: $bp-lg) {
    padding: 1.5rem 5rem;
  }
  @media only screen and (max-width: $bp-sm) {
    flex-direction: column;
    align-items: flex-start;
  }

  &__logo-link {
    cursor: pointer;
    @include flexCenter;

    // h3 {
    //   padding-top: 1rem;
    //   margin-left: 1rem;
    // }
  }

  &__logo-container {
    width: 12rem;
    height: auto;

    @media only screen and (max-width: $bp-md) {
      width: 10rem;
    }
    @media only screen and (max-width: $bp-sm) {
      width: 5rem;
    }
  }

  &__logo {
    height: 3rem;
    width: 10rem;
    display: block;
  }

  &__list {
    list-style: none;
    margin-left: auto;
    padding-top: 0.8rem;
    @include flexCenter;

    // hamburger
    @media only screen and (max-width: $bp-sm) {
      // display: none;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 100%;
      left: 0;
      transform: scaleY(0);
      transform-origin: top;
      background-color: $color-black;
      box-shadow: $box-shadow-default;
      transition: transform 0.2s;
    }
  }

  &__item {
    margin: auto 3rem;
    width: 9rem;
    text-align: center;

    @media only screen and (max-width: $bp-lg) {
      margin: auto 2.5rem;
    }
    @media only screen and (max-width: $bp-md) {
      margin: auto 0;
    }
    @media only screen and (max-width: $bp-sm) {
      padding: 1rem 0;
    }
  }

  &__link {
    transition: color 0.2s ease-in,
      letter-spacing 0.5s cubic-bezier(1, 0, 0, 1) 0.2s;

    &:link,
    &:visited {
      color: currentColor;
      text-decoration: none;
    }

    &::after {
      content: "";
      display: block;
      border-bottom: 1px solid $color-secondary;
      transform: scaleX(0);
      transition: transform 0.5s cubic-bezier(1, 0, 0, 1) 0.2s;
    }

    &:hover {
      color: $color-primary;
      letter-spacing: 2px;
      cursor: pointer;

      &::after {
        transform: scaleX(1);
      }
    }
  }
}

.active-section {
  color: $color-primary;

  @media only screen and (max-width: $bp-sm) {
    color: unset;
  }
}

.toggle-nav {
  cursor: pointer;
  position: absolute;
  right: 5rem;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  background-color: currentColor;
  border: none;
  outline: none;

  .fas {
    color: $color-white;
    font-size: 3rem;
  }

  @media only screen and (max-width: $bp-sm) {
    display: block;
  }
}

.active {
  transform: scaleY(1);
}

.btn-dark-mode {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  width: 5rem;

  @media only screen and (max-width: $bp-md) {
    margin-left: 1rem;
  }
  @media only screen and (max-width: $bp-sm) {
    margin: 2rem 0 3rem;
  }

  &:hover {
    .moon,
    .sun {
      animation-delay: 0.3s;
    }

    .moon {
      animation: rise 1s ease infinite alternate;
    }
    .sun {
      animation: rotate 5s linear infinite;
    }
  }
}

.moon,
.sun {
  fill: $color-secondary;
}

.dark-mode {
  background-color: $color-gray !important;
  color: $color-white-2 !important;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rise {
  from {
    transform: translateY(-15%);
  }
  to {
    transform: translateY(0);
  }
}
