@import "variables.scss";

.Project {
  list-style: none;
  margin: auto 10%;

  @include flexCenter;

  @media only screen and (max-width: $bp-md) {
    flex-direction: column;
  }

  &:nth-child(2n) {
    flex-direction: row-reverse;
  }

  @media only screen and (max-width: $bp-md) {
    flex-direction: column;
  }

  &:not(:last-child) {
    padding-bottom: 5rem;
    margin-bottom: 5rem;
    border-bottom: 1px solid rgba($color-primary, 0.2);
  }

  &__img {
    margin: auto 5rem;
    width: 50%;
    box-shadow: $box-shadow-default;
    border-radius: 4px;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      display: block;
    }

    @media only screen and (max-width: $bp-md) {
      width: 100%;
    }
  }

  &__details {
    @include flexCenter;
    flex-direction: column;
    width: 40%;

    @media only screen and (max-width: $bp-md) {
      width: 100%;
    }
  }

  &__title {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1rem;

    @media only screen and (max-width: $bp-md) {
      margin: 2rem auto 1.5rem;
    }
  }

  &__description {
    margin-bottom: 1.5rem;
    width: 100%;
    text-align: center;
    line-height: 1.45;
  }

  &__tech {
    list-style: none;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    @include flexCenter;
    flex-wrap: wrap;

    & > li:not(:last-child)::after {
      content: "|";
      color: rgba($color-primary, 0.2);
      margin: auto 0.5rem;
    }
  }

  &__links {
    @include flexCenter;

    .cta {
      font-size: 1.2rem;
      padding: 1rem;
      width: 10rem;
      text-align: center;

      &:first-child {
        margin-right: 2rem;
      }
    }

    .cta-secondary {
      background-color: transparent;

      &:link,
      &:visited {
        color: $color-primary;
        transition: color 0.2s ease;
      }

      &:hover {
        color: $color-primary-dark;
        box-shadow: none;
      }
    }
  }
}
