@import 'variables.scss';

.Project {
  // border: 1px solid black;
  list-style: none;
  margin: auto 10%;

  @include flexCenter;

  &:nth-child(2n) {
    flex-direction: row-reverse;
  }

  &:not(:last-child) {
    padding-bottom: 5rem;
    margin-bottom: 5rem;
    border-bottom: 1px solid rgba($color-primary, 0.2);
  }

  &__img {
    // border: 1px solid blue;
    margin: auto 5rem;

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &__details {
    // border: 1px solid teal;
    @include flexCenter;
    flex-direction: column;
  }

  &__title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  &__description {
    margin-bottom: 1.5rem;
    width: 50rem;
    text-align: center;
  }

  &__tech {
    list-style: none;
    margin-bottom: 1.5rem;
    @include flexCenter;

    & > li:not(:last-child)::after {
      content: '|';
      color: rgba($color-black, 0.2);
      margin: auto 0.5rem;
    }
  }

  &__links {
    @include flexCenter;

    .cta {
      font-size: 1.2rem;
      padding: 1rem;
      width: 10rem;
      text-align: center;

      &:first-child {
        margin-right: 2rem;
      }
    }
  }
}