@import "./variables.scss";

.Skills {
  .section-title {
  }

  &__container {
    // padding-bottom: 3.5rem;

    display: grid;
    align-items: center;
    grid-template-columns: 1fr, auto;
    grid-template-rows: repeat(2, auto);
    grid-gap: 2.5rem;

    @media only screen and (max-width: $bp-md) {
      @include flexCenter;
      flex-direction: column;
    }
  }

  &__heading {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    grid-column: 1/2;
    justify-self: end;
    padding: 1.8rem 3.5rem 1.8rem 0;
    border-right: 1px solid rgba($color-primary, 0.2);
    // height: 100%;
    position: relative;

    @media only screen and (max-width: $bp-md) {
      padding: 0 1.8rem 1.5rem 1.8rem;
      margin-bottom: 0;
      border-right: none;
      border-bottom: 1px solid rgba($color-primary, 0.2);
    }
  }

  &__list {
    list-style: none;
    grid-column: 2/3;
    justify-self: start;
    @include flexCenter;
    flex-wrap: wrap;
  }

  &__item {
    padding: 1rem 1rem;
    text-align: center;

    i {
      display: block;
      font-size: 2.3rem;
      padding-bottom: 1rem;
    }
  }
}
