@import "./variables.scss";

.Skills {
  &__container {
    padding-bottom: 4rem;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr, auto;
    grid-template-rows: repeat(2, auto);
    grid-gap: 2.5rem;

    @media only screen and (max-width: $bp-md) {
      @include flexCenter;
      flex-direction: column;
    }
  }

  &__heading {
    grid-column: 1/2;
    justify-self: end;
    font-size: 2.5rem;
    padding: 1.8rem 3.5rem 1.8rem 0;
    margin-bottom: 1rem;
    border-right: 1px solid rgba($color-primary, 0.2);
    position: relative;

    @media only screen and (max-width: $bp-md) {
      padding: 0 1.8rem 1.5rem 1.8rem;
      margin-bottom: 0;
      border-right: none;
      border-bottom: 1px solid rgba($color-primary, 0.2);
    }
  }

  &__list {
    grid-column: 2/3;
    justify-self: start;
    list-style: none;
    @include flexCenter;
    flex-wrap: wrap;

    &:nth-child(2) {
      @media only screen and (max-width: $bp-md) {
        margin-bottom: 2rem;
      }
    }
  }

  &__item {
    padding: 1rem 1rem;
    text-align: center;

    i {
      display: block;
      font-size: 2.3rem;
      padding-bottom: 1rem;
    }
  }
}
