// COLORS
$color-black: #050505;
$color-white: #fbfbf2;
$color-gray: #494949;

$color-primary: #ed6a5a;
$color-primary-dark: #d84a3b;
$color-secondary: #ffd257;

// FONT
$font-default: "Comfortaa", cursive;
$box-shadow-default: 0 1.5rem 3.8rem rgba($color-black, 0.3),
  0 1rem 1.2rem rgba($color-black, 0.1);

// BREAKPOINTS
$bp-lg: 1100px;
$bp-md: 768px;
$bp-sm: 425px;

// MIXINS
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
