// COLORS
$color-black: #050505;
$color-white: #fbfbf2;
$color-gray: #494949;

$color-primary: #ed6a5a;
$color-primary-dark: #d84a3b;
$color-secondary: #ffd257;

// FONT
$font-default: 'Comfortaa', cursive;

// BREAKPOINTS
$bp-lg: 1100px;
$bp-md: 768px;
$bp-sm: 425px;

// MIXINS
@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
  }